<mat-card class="example-card">

  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Heroes</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div [formGroup]="formFilter">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input #filterName matInput placeholder="Hero name" #input formControlName="name">
      </mat-form-field>
    </div>
    <table mat-table matSort matSortActive="name" matSortDisableClear matSortDirection="asc" [dataSource]="heroesResult">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name | titlecase}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element">
        <button mat-icon-button matTooltip="delete" (click)="deleteHero(element)">
          <mat-icon color="warn">delete</mat-icon>
        </button>
        <button mat-icon-button matTooltip="edit" [routerLink]="[element.id]">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="pageSize" [length]="totalHeroes" [pageSizeOptions]="[5, 10, 20]" aria-label="Select page of heroes"></mat-paginator>
  </mat-card-content>

  <mat-card-actions>
  </mat-card-actions>
</mat-card>